<th:block th:fragment="agenda-week(agenda_actions_slot, agenda_tranchesHoraire_slot, agenda_reservationOrphelines_slot, eventNameTwoLetters, eventIconAgenda, multiEventIconAgenda, maxMultiEventShow, hasAuthzAdmin)" vu:alias="agenda-week" vu:selector="${true}"
	      th:with="myEventNameTwoLetters=${eventNameTwoLetters?:false}, myEventIconAgenda=${eventIconAgenda?:'event'}, myMultiEventIconAgenda=${multiEventIconAgenda?:'calendar_month'}, 
	      myMaxMultiEventShow=${maxMultiEventShow?:3}, myHasAuthzAdmin=${hasAuthzAdmin?:true}"
			th:attr="objectKey=${model.vContext['componentStates'].addComponentState('editedPlageHoraire')}">
	<vu:block data-shape="rounded" id="agenda" title="Agenda">
	    <vu:slot name="actions_slot" >
            <div vu:slot="agenda_actions_slot" class="row q-gutter-sm">
				<q-btn color="primary" th:label="#{planning.agendaWeek.createPlageHoraire}" th:icon="#{planning.agendaWeek.createPlageHoraire.icon}" @click="onCreatePlageHoraireDefault"></q-btn>
				<q-btn color="primary" th:label="#{planning.agendaWeek.duplicateWeek}" th:icon="#{planning.agendaWeek.duplicateWeek.icon}" @click="onDuplicateWeek"></q-btn>
				<q-btn color="primary" th:label="#{planning.agendaWeek.publishPlageHoraire}" th:icon="#{planning.agendaWeek.publishPlageHoraire.icon}" :disabled="Quasar.date.extractDate(vueData.agendaRange.lastDate, 'DD/MM/YYYY') < new Date()" @click="onPublishPlageHoraires"></q-btn>
            </div>
		</vu:slot>
		<div class="row q-col-gutter-md">
			<div class="col-12">
		             <div class="row items-center">
		              <vu:include-data object="agendaRange" field="showDate" />
		              <div class="col items-center q-pb-sm row q-gutter-sm">
		                      <q-btn outline dense th:icon="#{planning.agendaWeek.previousWeek.icon}" th:title="#{planning.agendaWeek.previousWeek}" th:@click="|httpPostAjax('@{_semainePrecedente}', {})|"><span class="sr-only" th:text="#{planning.agendaWeek.previousWeek}"></span></q-btn>
		                      <q-btn outline dense th:icon="#{planning.agendaWeek.nextWeek.icon}" th:title="#{planning.agendaWeek.nextWeek}" th:@click="|httpPostAjax('@{_semaineSuivante}', {})|"><span class="sr-only" th:text="#{planning.agendaWeek.nextWeek}"></span></q-btn>
		                      <vu:include-data object="agendaRange" field="firstDate" />
		                      <vu:include-data object="agendaRange" field="lastDate" />
		                      <div><b>Semaine du {{ vueData.agendaRange.firstDate}} au {{ vueData.agendaRange.lastDate}}</b></div>                                
		              </div>
		              <div class="on-right q-gutter-sm" th:if="#{planning.agendaWeek.showPublicationLegend}">
		                 <q-chip outline color="grey-7"><q-badge rounded color="trh-nonPublie" class="on-left"></q-badge>Non publié</q-chip>
		                 <q-chip outline color="grey-7"><q-badge rounded color="trh-planifie" class="on-left"></q-badge>Planifié</q-chip>
		                 <q-chip outline color="grey-7"><q-badge rounded color="trh-publie" class="on-left"></q-badge>Publié</q-chip>
		              </div>                              
	            </div>
		           <vu:include-data-primitive key="weekDays" />
		           <vu:include-data object="plagesHoraire" field="plhId" />
		           <vu:include-data object="plagesHoraire" field="ageId" th:if="${!model.modeGuichet}"/>
		           <vu:include-data object="plagesHoraire" field="dateLocale" />
		           <vu:include-data object="plagesHoraire" field="minutesDebut" />
		           <vu:include-data object="plagesHoraire" field="minutesDebut_fmt" />
		           <vu:include-data object="plagesHoraire" field="minutesFin" />
		           <vu:include-data object="plagesHoraire" field="minutesFin_fmt" />
		           <vu:include-data object="plagesHoraire" field="nbReserve" />
		           <vu:include-data object="plagesHoraire" field="nbReserveNonPublie" />
		           <vu:include-data object="plagesHoraire" field="nbTotal" />
		           <vu:include-data object="plagesHoraire" field="nbNonPublie" />
		           <vu:include-data object="plagesHoraire" field="nbPlanifie" />
		           <vu:include-data object="plagesHoraire" field="nbPublie" />
		           <q-calendar-day ref="calendar"
			           locale="fr"
			           hour24-format
			           interval-minutes="30"
			           :interval-start="intervalStart(vueData.plagesHoraire)"
			           :interval-count="intervalCount(vueData.plagesHoraire)"
			           interval-height="30"
			           view="week"
			           th::weekdays="${model.weekDays}"
			           animated
			           transition-prev="slide-right"
			           transition-next="slide-left"
			           :model-value="toCalendarDate(vueData.agendaRange.firstDate).date"
			           no-active-date @click-date=""
			           th:attrappend="'@click-time'=${myHasAuthzAdmin?'onCreatePlageHoraireDateTime($event)':null}">    	   
		               <template #day-body="{ scope: { timestamp, timeStartPos, timeDurationHeight } }">
		                <template v-for="(event, index) in getEvents(timestamp.date, vueData.plagesHoraire)" :key="event.eventId">
		                  <div
		                    class="my-event q-pa-sm row justify-center text-dark"
		                    :class="badgeClasses(event, 'body')"
		                    :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
		                    @click.stop.prevent="onSelectPlageHoraire(event)"
		                    v-if="!(event.eventList && event.eventList.length>1)"
		                  >
		                  	  <div class="agendas-event" th:if="${!model.modeGuichet}">
	 		                  	  <q-btn round size="sm" :color="('agendas-palette-')+(vueData.agendasDisplay.findIndex(ag => ag.ageId === event.ageId)*6%20)" 
	 		                  	  		 th:icon="${!myEventNameTwoLetters?myEventIconAgenda:''}" 
	 		                  	  		 th:utext="${myEventNameTwoLetters?'{{getNameAsTwoLetters(vueData.agendasDisplay.find(ag => ag.ageId === event.ageId).displayName)}}':''}"
			                             :title="vueData.agendasDisplay.find(ag => ag.ageId === event.ageId).displayName" v-if="!event.eventList || event.eventList.length<=1">			                             
			                      </q-btn>                    
		                  	  </div>
		                      <div class="actions-event">
		                         <q-btn th:icon="#{planning.agendaWeek.deletePlageHoraire.icon}" th:title="#{planning.agendaWeek.deletePlageHoraire}" size="md" dense round flat color="black" @click.stop.prevent="confirmDeletePlageHoraire(event)" vu:authz="${myHasAuthzAdmin}"></q-btn>
		                      </div>
		                      <div class="row col-12 self-center items-center " :class="{'justify-center':(event.minutesFin - event.minutesDebut)>59}">
		                          <div class="text-center plage-label" :class="{'col-12':(event.minutesFin - event.minutesDebut)>59}">{{ event.minutesDebut_fmt }} - {{ event.minutesFin_fmt }}</div>
		                          <div class="text-center" :class="{'col-12':(event.minutesFin - event.minutesDebut)>59}">
		                            <q-chip color="white" text-color="dark" :class="{'q-pl-none':(event.nbReserveNonPublie>0 || event.nbReserve>event.nbTotal)}" 
		                                  :title="event.nbReserve + ' rendez-vous réservé(s) sur '+event.nbTotal">
		                                <q-icon th:name="#{planning.agendaWeek.reserveNonPublie.icon}" size="md" color="negative" v-if="event.nbReserveNonPublie>0"
		                                    th::title="#{planning.agendaWeek.reserveNonPublie}"></q-icon>
		                                <q-icon th:name="#{planning.agendaWeek.trancheOverbooked.icon}" size="sm" color="trh-publie" v-if="event.nbReserveNonPublie==0 && event.nbReserve>event.nbTotal"
		                                    th:title="#{planning.agendaWeek.trancheOverbooked}"></q-icon>
		                                    <b>{{event.nbReserve}}</b>/{{event.nbTotal}}
		                            </q-chip>
		                          </div>
		                      </div>
		                  </div>
		                  <div
		                    class="my-events q-pa-sm row justify-center text-dark"
		                    :class="badgeClasses(event, 'body')"
		                    :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
		                    v-if="event.eventList && event.eventList.length>1"
		                  > 
		                  	  <div class="agendas-event" th:if="${!model.modeGuichet}">
		                  	  	  <q-btn text-color="grey-7" color="white" rounded size="md" padding="xs sm" :title="'Cette plage assemble '+event.eventList.length+' agendas'">
			                  	  	   <span class="sr-only">Cette plage assemble {{event.eventList.length}} agendas</span>
                           			   <div class="row no-wrap q-gutter-xs">
								          <q-icon th:name="${myMultiEventIconAgenda}"></q-icon>
								          <q-btn th:v-for="|(subEvent, index) in event.eventList.slice(0, event.eventList.length>${myMaxMultiEventShow}?${myMaxMultiEventShow-1}:event.eventList.length)|"  :key="subEvent.plhId"
								             dense round size="sm" :color="('agendas-palette-')+(vueData.agendasDisplay.findIndex(ag => ag.ageId === subEvent.ageId)*6%20)" 
		 		                  	  		 th:utext="${myEventNameTwoLetters?'{{getNameAsTwoLetters(vueData.agendasDisplay.find(ag => ag.ageId === subEvent.ageId).displayName)}}':''}"
				                             :title="vueData.agendasDisplay.find(ag => ag.ageId === subEvent.ageId).displayName"
				                             @click.stop.prevent="onSelectPlageHoraire(subEvent)">			                             
					                      </q-btn>
			                        	 <q-btn th:icon="#{planning.agendaWeek.listOtherAgenda.icon}" title="Voir plus d'agenda" size="sm" dense round color="grey-7" th:v-if="|event.eventList.length>${myMaxMultiEventShow}|"></q-btn>			                        	     
								        </div>
								       <q-menu >
								      	<q-item clickable v-for="(subEvent, index) in event.eventList"  :key="subEvent.plhId" 
								        	@click.stop.prevent="onSelectPlageHoraire(subEvent)">
								          <q-item-section avatar>
								            <q-avatar size="md" text-color="white" :color="'agendas-palette-' + (vueData.agendasDisplay.findIndex(ag => ag.ageId === subEvent.ageId) * 6 % 20)"
							                      th:icon="${!myEventNameTwoLetters?myEventIconAgenda:''}" 
 		                  	  		              th:utext="${myEventNameTwoLetters?'{{getNameAsTwoLetters(vueData.agendasDisplay.find(ag => ag.ageId === subEvent.ageId).displayName)}}':''}">
								            </q-avatar>								           
								          </q-item-section>
								          <q-item-section>
								          	 <div class="col">
								            {{vueData.agendasDisplay.find(ag => ag.ageId === subEvent.ageId).displayName}}
								            <q-item-label caption>
								            	{{ subEvent.minutesDebut_fmt }} - {{ subEvent.minutesFin_fmt }}
								            	<q-badge rounded :color="plageStateColor(subEvent).class" :title="plageStateColor(subEvent).label">{{plageStateColor(subEvent).miniLabel}}</q-badge>
		                 					</q-item-label>
								            </div>								            
								          </q-item-section>
								          <q-item-section side>
								            <q-chip color="white" text-color="dark" :class="{'q-pl-none':(subEvent.nbReserveNonPublie>0 || subEvent.nbReserve>event.nbTotal)}" 
				                                  :title="subEvent.nbReserve + ' rendez-vous réservé(s) sur '+subEvent.nbTotal">
				                                <q-icon th:name="#{planning.agendaWeek.reserveNonPublie.icon}" size="md" color="negative" v-if="subEvent.nbReserveNonPublie>0"
				                                    :title="subEvent.nbReserveNonPublie + ' rendez-vous réservé(s) sur des créneaux non publiés'"></q-icon>
				                                <q-icon th:name="#{planning.agendaWeek.trancheOverbooked.icon}" size="sm" color="trh-publie" v-if="subEvent.nbReserveNonPublie==0 && subEvent.nbReserve>subEvent.nbTotal"
				                                    th:title="#{planning.agendaWeek.trancheOverbooked}"></q-icon>
				                                    <b>{{subEvent.nbReserve}}</b>/{{subEvent.nbTotal}}
				                            </q-chip>
								          </q-item-section>
								          <q-item-section side>
								            <q-btn th:icon="#{planning.agendaWeek.deletePlageHoraire.icon}" th:title="#{planning.agendaWeek.deletePlageHoraire}" size="md" dense round flat color="black" @click.stop.prevent="confirmDeletePlageHoraire(subEvent)" vu:authz="${myHasAuthzAdmin}"></q-btn>
								          </q-item-section>
								        </q-item>
								      </q-list>
								    </q-btn>                     
		                  	  </div>
		                      <div class="row col-12 self-center items-center " :class="{'justify-center':(event.minutesFin - event.minutesDebut)>59}">
		                          <div class="text-center plage-label" :class="{'col-12':(event.minutesFin - event.minutesDebut)>59}">{{ event.minutesDebut_fmt }} - {{ event.minutesFin_fmt }}</div>
		                          <div class="text-center" :class="{'col-12':(event.minutesFin - event.minutesDebut)>59}">
		                            <q-chip color="white" text-color="dark" :class="{'q-pl-none':(event.nbReserveNonPublie>0 || event.nbReserve>event.nbTotal)}" 
		                                  :title="event.nbReserve + ' rendez-vous réservé(s) sur '+event.nbTotal">
		                                <q-icon th:name="#{planning.agendaWeek.reserveNonPublie.icon}" size="md" color="negative" v-if="event.nbReserveNonPublie>0"
		                                    th::title="#{planning.agendaWeek.reserveNonPublie}"></q-icon>
		                                <q-icon th:name="#{planning.agendaWeek.trancheOverbooked.icon}" size="sm" color="trh-publie" v-if="event.nbReserveNonPublie==0 && event.nbReserve>event.nbTotal"
		                                    th:title="#{planning.agendaWeek.trancheOverbooked}"></q-icon>
		                                    <b>{{event.nbReserve}}</b>/{{event.nbTotal}}
		                            </q-chip>
		                          </div>
		                      </div>
		                  </div>
		                </template>
		                
				        <vu:include-data object="tranchesHoraire" field="dateLocale" />
				        <vu:include-data object="tranchesHoraire" field="minutesDebut" />
				        <vu:include-data object="tranchesHoraire" field="minutesFin" />
				        <vu:include-data object="tranchesHoraire" field="nbReserve" />
				        <vu:include-data object="tranchesHoraire" field="nbReserveNonPublie" />
				        <vu:include-data object="tranchesHoraire" field="nbGuichet" />
				        <vu:include-data object="tranchesHoraire" field="etatPublication" />
		                <template v-for="(event, index) in getEvents(timestamp.date, vueData.tranchesHoraire)" :key="event.eventId" 
		                 vu:slot="agenda_tranchesHoraire_slot">
		                  <div
		                    class="my-event q-pa-xs row justify-center text-dark"
		                    :class="badgeClasses(event, 'body')"
		                    :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
		                    @click.stop.prevent="onSelectPlageHoraire(event)"
		                    
		                  >
		                  	<div class="row col-12 self-center items-center" :class="{'justify-center':(event.minutesFin - event.minutesDebut)>29}">
		                          <div class="agendas-event">
			                          <q-icon th:name="#{planning.agendaWeek.trancheEmpty.icon}" v-if="event.nbReserve == 0 || !event.nbReserve" :color="'trh-'+event.etatPublication" :title="event.etatPublication" ></q-icon>
						              <q-icon th:name="#{planning.agendaWeek.trancheSome.icon}" v-if="event.nbReserve > 0 && event.nbReserve < event.nbGuichet" :color="'trh-'+event.etatPublication" :title="event.etatPublication" ></q-icon>
						              <q-icon th:name="#{planning.agendaWeek.trancheFull.icon}" v-if="event.nbReserve == event.nbGuichet " :color="'trh-'+event.etatPublication" :title="event.etatPublication" ></q-icon>
						              <q-icon th:name="#{planning.agendaWeek.trancheOverbooked.icon}" v-if="event.nbReserve > event.nbGuichet" :color="'trh-'+event.etatPublication" :title="event.etatPublication" ></q-icon>                                      
                                  </div>
		                          
								  <div class="text-center" :class="{'col-12':(event.minutesFin - event.minutesDebut)>29, 'q-pl-none':(event.nbReserveNonPublie>0 || event.nbReserve>event.nbGuichet)}"
		                          		:title="event.nbReserve + ' rendez-vous réservé(s) sur '+event.nbGuichet">
		                                <q-icon th:name="#{planning.agendaWeek.reserveNonPublie.icon}" size="md" color="negative" v-if="event.nbReserveNonPublie>0"
		                                    th::title="#{planning.agendaWeek.reserveNonPublie}"></q-icon>
		                                <q-icon th:name="#{planning.agendaWeek.trancheOverbooked.icon}" size="sm" color="trh-publie" v-if="event.nbReserveNonPublie==0 && event.nbReserve>event.nbGuichet"
		                                    th:title="#{planning.agendaWeek.trancheOverbooked}"></q-icon>
		                                    {{event.nbReserve}} / {{event.nbGuichet}}
		                          </div>
		                      </div>
		                  </div> 
		                </template>

		           <vu:include-data object="reservationOrphelines" field="dateLocale" />
		           <vu:include-data object="reservationOrphelines" field="minutesDebut" />
		           <vu:include-data object="reservationOrphelines" field="minutesFin" />
		           <vu:include-data object="reservationOrphelines" field="nbReserve" />
		                <template v-for="(event, index) in getEvents(timestamp.date, vueData.reservationOrphelines)" vu:slot="agenda_reservationOrphelines_slot">
		                  <q-chip class="orphan-event"
		                    :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)" 
		                    color="negative" text-color="white" icon="event_busy"
		                    :title="event.nbReserve + ' rendez-vous réservé(s) hors planning'">
					        <b>{{event.nbReserve}}</b>&nbsp;RDV
					      </q-chip>                                  
		                </template>
		              </template>
		            </q-calendar-day>
		    </div>
		</div>
	</vu:block>
</th:block>